.calc {
    margin: 100px auto;
    width: 300px;
    height: 500px;
    border-radius: 5px;
    background: rgb(0,0,0);
    /*background: rgb(220,220,220);*/
    color: white;
    font-family: "Segoe UI", Geneva, Verdana, Haettenschweiler, "Calibri";
    padding: 18px;
}

.screen {
    height: 100px;
    padding: 10px;
    display: grid;
    justify-items: end;
    align-items: center;
}

.screen p {
    font-size: 45px;
    font-family: "Segoe UI", Geneva, Verdana, Haettenschweiler, "Calibri";
    margin: 0;
}

.btn {
    width: 65px;
    height: 65px;
    background: rgb(105,105,105);
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 63px;
    font-size: 35px;
    border: 2px thistle;
    cursor: pointer;
    user-select: none;
}
.btn.zero {
    grid-area: zero;
    width: 100%;
    border-radius: 35px;
}
.btn.ac {
    grid-area: ac;
    width: 100%;
    border-radius: 35px;
}

.buttons {
    display: grid;
    grid-template-areas:
    "ac ac percent division"
    "seven eight nine multiplication"
    "four five six subtraction"
    "one two three addition"
    "zero zero dot equals";
    grid-gap: 8px;
    justify-items: center;
}

.btn:hover {
    filter: contrast(10%);
}

.btn.grey {
    background: rgb(192,192,192);
    color: white;
}

.btn.turquoise {
    background: rgb(255,165,0);
    color: rgb(240, 246, 255);
}

#btn2 {
    margin: 100px auto;
    width: 300px;
    padding: 10px;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 15px;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    font-family: initial;
    font-weight: bold;
}